# Exploratory Data Analysis

In [1]:
# import neccessary packages
import pandas as pd

In [8]:
# load the dataset
house_pricing = pd.read_csv("/Users/decoding/Documents/01 - Software/Repositories/Personal_Repos/house-price-prediction/data/raw/train.csv", index_col=0)

house_pricing.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
house_pricing.Street.unique()

array(['Pave', 'Grvl'], dtype=object)

In [24]:
# check unique string values in dataset
unique_columns = []
for column in house_pricing.columns:
    unique_values = house_pricing[column].unique()
    if len(unique_values) > 0:
        unique_columns.append(column)

unique_columns
print(f"num of unique colums {len(unique_columns)}")
print(f"num of columns in the dataset {len(house_pricing.columns)}")

num of unique colums 80
num of columns in the dataset 80

In [28]:
desc = house_pricing.describe()
desc.to_csv("/Users/decoding/Documents/01 - Software/Repositories/Personal_Repos/house-price-prediction/data/summary.csv")